$bd-bg: pink;
body {
    background: $bd-bg;
    display: flex;
    .logo {
        background: url('../assets/logo.png') no-repeat;
        width: 100px;
        height: 100px;
        background-size: contain;
    }
    .man {
        background: url('../assets/man.jpg') no-repeat;
        width: 40px;
        height: 40px;
        background-size: contain;
    }
}
